body{
	position: relative;
}
.jumbotron{
	height: 400px;
	background-image:url('../img/baner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0-100px;
	

}

.container img {
	width: 250px;
	border-color: #333;

}

footer{
	margin-bottom: 0;
	
}
* {
	box-sizing: border-box;
}

.skills-container {
	width: 100%;
	background-color: #ddd;
}

.skills {
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}

.html {
	width: 90%;
	background-color: #4CAF50;
}

.css {
	width: 80%;
	background-color: #2196F3;
}

.js {
	width: 65%;
	background-color: #f44336;
}

.php {
	width: 60%;
	background-color: #808080;
}


